.serviceContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--color-cambridge-blue);
}

.imagesFormContainer {
    display: grid;
    margin-inline: auto;
    grid-template-columns: 30% 30% 30%;
    width: 99%;
}

.mainPictureSafe {
    width: 456px;
    height: 380px;
}

.mainPictureCart {
    width: 550px;
    height: 380px;
}